<div class="wa-stack faq-section">
  <h3><%= category %></h3>
  <% accc.each do |acc| %>
    <wa-details appearance="plain">
      <h4 slot="summary" class="wa-heading-m" style="margin: 0"><%= acc.data.title %></h4>
      <%= markdownify acc.data.content %>
    </wa-details>
    <% if acc != accc.last %>
      <wa-divider></wa-divider>
    <% end %>
  <% end %>
</div>






